@import './../../../styles/utils/mixins';
@import './../../../styles/base/variables';

.loader {
    position: fixed;
    top: calc(50% - 180px);
    left: calc(50% - 210px);

    &__wrapper {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 100px;
    }

    &__spinner {
        display: inline-block;
        border: $loader-spinner-width solid $loader-bg-color;
        border-top: $loader-spinner-width solid $loader-spinner-color;
        border-radius: 50%;
        width: $loader-size;
        height: $loader-size;
        animation: spin $loader-duration linear infinite;
    }

    &__label {
      @include visually-hidden;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
