$white: rgb(255, 255, 255);
$white-darker: rgb(245, 245, 245); //#f5f5f5
$white-violet: rgb(230, 230, 250); //#e6e6fa
$white-pink: rgb(240, 248, 255);
$black: rgb(0, 0, 0);
$black-ligher: rgb(36, 35, 35);
$gray: rgba(0,0,0,0.3);
$violet: rgb(138, 43, 226); //#8a2be2
$violet-light: rgb(146, 52, 235); //#9234eb
$violet-lighter: rgb(147, 112, 219); //#9370DB

$violet-dark: rgb(122, 38, 201); //#8129d3
$violet-darker: rgb(75, 0, 130); //#4B0082



